{% extends 'index.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <!-- SEARCH SECTION -->
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Grow. Learn. Suceed.</h1>

                    <h6 class="text-center">Empowering Farmers, Transforming Agriculture.</h6>

                    <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                        <div class="input-group input-group-lg">
                                <span class="input-group-text bi-search" id="basic-addon1">

                                </span>

                            <input name="keyword" type="search" class="form-control" id="keyword"
                                   placeholder="Crops, Livestock, SmartAgri, Pests ..." aria-label="Search">

                            <button type="submit" class="form-control">Search</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- END SEARCH SECTION -->

    <!-- HERO SECTION -->
    <section class="featured-section">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                    <div class="custom-block bg-white shadow-lg">
                        <a href="{% url 'article_detail' pk=9 %}">
                            <div class="d-flex">
                                <div>
                                    <h5 class="mb-2">Fundamentals of Agroecology</h5>

                                    <p class="mb-0">Learn Agroecology Principles, Methodologies</p>
                                </div>

                                <span class="badge bg-design rounded-pill ms-auto">01</span>
                            </div>

                            <img src="{% static 'images/course-1.png' %}"
                                 class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="custom-block custom-block-overlay">
                        <div class="d-flex flex-column h-100">
                            <img src="{% static 'images/course-2.jpg' %}"
                                 class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2">Plant-Based Pest Control</h5>

                                    <p class="text-white">Learn how to manage farm pests naturally using effective
                                        plant-based extracts.</p>

                                    <a href="#" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                </div>

                                <span class="badge bg-finance rounded-pill ms-auto">02</span>
                            </div>

                            <div class="social-share d-flex">
                                <p class="text-white me-4">Share:</p>

                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>
                                    </a>
                                </ul>
                            </div>

                            <div class="section-overlay"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END HERO SECTION -->

    <!-- SERVICES SECTION -->
    <section class="explore-section section-padding" id="services">
        <div class="container">

            <div class="col-12 text-center">
                <h2 class="mb-4">What We Offer</h2>
            </div>

        </div>


        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div id="myTabContent">
                        <div
                                aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="{% url 'services_payment' %}">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Soil Testing</h5>

                                                    <p class="mb-0">How safe and stable is your soil?</p>
                                                </div>


                                            </div>

                                            <img src="{% static 'images/soil-testing.jpg' %}"
                                                 class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="{% url 'services_payment' %}">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Moisture Analysis</h5>

                                                    <p class="mb-0">How moist is your soil? Test now with Agricol!</p>
                                                </div>


                                            </div>

                                            <img src="{% static 'images/moisture.jpg' %}"
                                                 class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="{% url 'services_payment' %}">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Consultations</h5>

                                                    <p class="mb-0">Get a consult on your farm today!</p>
                                                </div>


                                            </div>

                                            <img src="{% static 'images/consult.jpg' %}"
                                                 class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- END SERVICES SECTION -->

    <!-- COURSES SECTION -->
    <section class="explore-section section-padding" id="section_2">
        <div class="container">

            <div class="col-12 text-center">
                <h2 class="mb-4">Browse Courses</h2>
            </div>

        </div>


        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="design-tab" data-bs-toggle="tab"
                                data-bs-target="#design-tab-pane" type="button" role="tab"
                                aria-controls="design-tab-pane" aria-selected="true">Crops
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="marketing-tab" data-bs-toggle="tab"
                                data-bs-target="#marketing-tab-pane" type="button" role="tab"
                                aria-controls="marketing-tab-pane" aria-selected="false">Livestock
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="finance-tab" data-bs-toggle="tab"
                                data-bs-target="#finance-tab-pane" type="button" role="tab"
                                aria-controls="finance-tab-pane" aria-selected="false">Soil
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="music-tab" data-bs-toggle="tab"
                                data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane"
                                aria-selected="false">Pests
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="education-tab" data-bs-toggle="tab"
                                data-bs-target="#education-tab-pane" type="button" role="tab"
                                aria-controls="education-tab-pane" aria-selected="false">SmartAgri
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel"
                             aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                {% for article in crops %}
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="{% url 'article_detail' article.id %}">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{ article.title }}</h5>

                                                        <p class="mb-0">{{ article.description }}</p>
                                                    </div>

                                                    <span class="badge bg-design rounded-pill ms-auto">01</span>
                                                </div>
                                                {% if article.image %}

                                                    <img src="{{ article.image.url }}"
                                                         class="custom-block-image img-fluid" alt="">
                                                {% else %}
                                                    <img src="https://via.placeholder.com/400x250" class="card-img-top"
                                                         alt="No Image">
                                                {% endif %}


                                            </a>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>No articles in this category.</p>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel"
                             aria-labelledby="marketing-tab" tabindex="0">
                            <div class="row">
                                {% for article in livestock %}
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="{% url 'article_detail' article.id %}">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{ article.title }}</h5>

                                                        <p class="mb-0">{{ article.description }}</p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">02</span>
                                                </div>

                                                {% if article.image %}

                                                    <img src="{{ article.image.url }}"
                                                         class="custom-block-image img-fluid" alt="">
                                                {% else %}
                                                    <img src="https://via.placeholder.com/400x250" class="card-img-top"
                                                         alt="No Image">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>No articles in this category.</p>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel"
                             aria-labelledby="finance-tab" tabindex="0">
                            <div class="row">
                                {% for article in soil %}
                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="{% url 'article_detail' article.id %}">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{ article.title }}</h5>

                                                        <p class="mb-0">{{ article.description }}</p>
                                                    </div>

                                                    <span class="badge bg-finance rounded-pill ms-auto">03</span>
                                                </div>

                                                {% if article.image %}

                                                    <img src="{{ article.image.url }}"
                                                         class="custom-block-image img-fluid" alt="">
                                                {% else %}
                                                    <img src="https://via.placeholder.com/400x250" class="card-img-top"
                                                         alt="No Image">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>No articles in this category.</p>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab"
                             tabindex="0">
                            <div class="row">
                                {% for article in pests %}
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="{% url 'article_detail' article.id %}">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{ article.title }}</h5>

                                                        <p class="mb-0">{{ article.description }}</p>
                                                    </div>

                                                    <span class="badge bg-music rounded-pill ms-auto">04</span>
                                                </div>

                                                {% if article.image %}

                                                    <img src="{{ article.image.url }}"
                                                         class="custom-block-image img-fluid" alt="">
                                                {% else %}
                                                    <img src="https://via.placeholder.com/400x250" class="card-img-top"
                                                         alt="No Image">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>

                                    {#                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">#}
                                    {#                                        <div class="custom-block bg-white shadow-lg">#}
                                    {#                                            <a href="#">#}
                                    {#                                                <div class="d-flex">#}
                                    {#                                                    <div>#}
                                    {#                                                        <h5 class="mb-2">Bio-Pesticide Mastery for Organic Farmers</h5>#}
                                    {##}
                                    {#                                                        <p class="mb-0">Gain knowledge and skills on making bio#}
                                    {#                                                            pesticides.</p>#}
                                    {#                                                    </div>#}
                                    {##}
                                    {#                                                    <span class="badge bg-music rounded-pill ms-auto">05</span>#}
                                    {#                                                </div>#}
                                    {##}
                                    {#                                                <img src="{% static 'images/course-3.jpg' %}"#}
                                    {#                                                     class="custom-block-image img-fluid" alt="">#}
                                    {#                                            </a>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                {% empty %}
                                    <p>No articles in this category.</p>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="tab-pane fade" id="education-tab-pane" role="tabpanel"
                             aria-labelledby="education-tab" tabindex="0">
                            <div class="row">
                                {% for article in smart_agri %}
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="{% url 'article_detail' article.id %}">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">{{ article.title }}</h5>

                                                        <p class="mb-0">{{ article.description }}</p>
                                                    </div>

                                                    <span class="badge bg-music rounded-pill ms-auto">06</span>
                                                </div>

                                                {% if article.image %}

                                                    <img src="{{ article.image.url }}"
                                                         class="custom-block-image img-fluid" alt="">
                                                {% else %}
                                                    <img src="https://via.placeholder.com/400x250" class="custom-block-image img-fluid"
                                                         alt="No Image">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>No articles in this category.</p>
                                {% endfor %}


                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- END COURSES SECTION -->

    <!-- FEATURES SECTION -->
    <section class="timeline-section section-padding" id="section_3">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="text-white mb-4">How does it work?</h2>
                </div>

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="timeline-container">
                        <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>

                            <li>
                                <h4 class="text-white mb-3">Enroll for a course</h4>

                                <p class="text-white">Sign up and enroll to the best courses in farming and gain
                                    knowledge from industry experts!
                                </p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">Get points once you complete a course</h4>

                                <p class="text-white">Complete quizes, submit your assignments and participate in
                                    community forums to gain points that will allow you to get incentives</p>

                                <div class="icon-holder">
                                    <i class="bi-bookmark"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">Earn Incentives</h4>

                                <p class="text-white">Once you reach a certain number of points, you are now eligible to
                                    earn incentives from us and let us buy your products and feature them!</p>

                                <div class="icon-holder">
                                    <i class="bi-book"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-white">
                        Want to learn more?
                        <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->

    <!-- FAQ SECTION -->
    <section class="faq-section section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4">Frequently Asked Questions</h2>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-5 col-12">
                    <img src="{% static 'images/faq_graphic.jpg' %}" class="img-fluid" alt="FAQs">
                </div>

                <div class="col-lg-6 col-12 m-auto">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is Agricol?
                                </button>
                            </h2>

                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    A Farming Learning Management System that allows farmers to register, complete
                                    training and receive payments.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What are the methods of payment?
                                </button>
                            </h2>

                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    You can use M-Pesa, PayPal or a credit/debit to pay for your course
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    What are the eligibility requirements for getting incentives?
                                </button>
                            </h2>

                            <div id="collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    You must reach at least 1000 points to be able to receive incentives
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END FAQ SECTION -->

    <!-- GET IN TOUCH SECTION -->
    <section class="contact-section section-padding section-bg" id="section_5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">Get in touch</h2>
                </div>

                <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                    <iframe class="google-map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1021133.9621284129!2d35.80397620000001!3d-1.2916423999999918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11debad4cbe1%3A0xc4c27adfad7ca96c!2sTrueways%20Enterprises%20Limited!5e0!3m2!1sen!2ske!4v1741470126459!5m2!1sen!2ske"
                            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                    <h4 class="mb-3">Head office</h4>

                    <p>Wangu Crescent Rd, Off Jogoo Road</p>

                    <hr>

                    <p class="d-flex align-items-center mb-1">
                        <span class="me-2">Phone</span>

                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p class="d-flex align-items-center">
                        <span class="me-2">Email</span>

                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@agricol.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mx-auto">
                    <h4 class="mb-3">Makueni office</h4>

                    <p>Cresent Wangu Rd, Off Jogoo Road</p>

                    <hr>

                    <p class="d-flex align-items-center mb-1">
                        <span class="me-2">Phone</span>

                        <a href="tel: 110-220-3400" class="site-footer-link">
                            110-220-3400
                        </a>
                    </p>

                    <p class="d-flex align-items-center">
                        <span class="me-2">Email</span>

                        <a href="mailto:info@company.com" class="site-footer-link">
                            support@agricoll.com
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- END GET IN TOUCH SECTION -->
{% endblock %}